* {
	margin: 0;
	padding: 0;
	transition: all 0.3s;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}

body {
	max-width: 1080px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: darkmagenta;
}

ol,
ul {
	list-style: none;
}

section .container {
	margin-bottom: 5rem;
}

.text-color-gray {
	color: rgb(175, 175, 175);
}

.btn {
	background-color: darkmagenta;
	border: 2px solid darkmagenta;
	color: white;
	cursor: pointer;
	transition: all 0.1s;
}

.btn:hover {
	background-color: white;
	color: darkmagenta;
}

.btn-large {
	padding: 0.7rem 1.2rem;
	border-radius: 0.5rem;
}

.btn-md {
	padding: 0.4rem 0.8rem;
	border-radius: 0.5rem;
	font-size: 0.8rem;
}

section {
	width: 98%;
	margin: auto;
	margin-bottom: 3rem;
}

/* Header *************   */
header {
	width: 98%;
	margin: auto;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	justify-content: space-between;
	padding: 1.3rem 0;
	border-bottom: 2px solid darkmagenta;
}

header .logo {
	width: 13rem;
}

header nav a {
	margin: 0 0.1rem;
	font-weight: bold;
	color: rgb(147, 147, 147);
}

header .user-control-panel {
	display: flex;
	align-items: center;
	gap: 0.7rem;
}

header .user-control-panel input {
	border: 1px solid darkmagenta;
	border-radius: 0.4rem;
	padding: 0.2rem;
	background-image: url(./assets/search.svg);
	background-repeat: no-repeat;
	background-position: 97%;
	background-size: 1rem;
	padding-right: 1.4rem;
	width: 8rem;
}

header .user-control-panel i {
	font-size: 1.5rem;
	color: darkmagenta;
	cursor: pointer;
}

i.fa-user {
	border: 2px solid darkmagenta;
	border-radius: 100%;
	padding: 0.5rem;
}

i.fa-user:hover {
	color: white;
	background-color: darkmagenta;
}

/* Main ****************   */

main {
	width: 98%;
	margin: auto;
	margin-bottom: 2rem;
	border: 1px solid black;
	aspect-ratio: 2/1;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.9rem;
	justify-content: center;
}

.user-rating {
	display: flex;
	gap: 0.8rem;
	align-items: center;
}

.user-rating > .stars > .fa-star {
	color: darkmagenta;
	font-size: 0.8rem;
}

.movie-rating {
	border: 1px solid darkmagenta;
	padding: 0 0.2rem;
	border-radius: 0.3rem;
}

.duration {
	font-weight: bold;
}

.description {
	line-height: 1.3rem;
	max-width: 75%;
}

main > .details > ul > li {
	margin-bottom: 0.2rem;
	font-weight: bold;
	font-size: 0.9rem;
}

main > .details > ul > li > span {
	color: darkmagenta;
}

/* Section Recomended for you *********** */
.movie-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
.movie-header > h2,
.movie-header > p {
	font-size: 0.9rem;
	font-weight: bold;
}

.movie-container {
	display: flex;
	justify-content: space-between;
}

.movie-card {
	border: 1px solid darkmagenta;
	width: 32%;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 0.4rem;
	aspect-ratio: 3/2;
	font-size: 0.8rem;
}

/* footer *********************  */

footer {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	width: 98%;
	margin: 1rem auto;
	padding: 0.5rem;
}

footer div nav {
	display: flex;
	gap: 0.7rem;
	margin-bottom: 0.7rem;
	font-weight: bold;
}

footer div p {
	line-height: 1.2rem;
}

.social div {
	margin-top: 0.5rem;
	display: flex;
	gap: 0.4rem;
}

.social div i {
	font-size: 2rem;
	cursor: pointer;
}

.facebook {
	color: rgb(84, 92, 214);
}
.youtube {
	color: rgb(255, 55, 55);
}
.twitter {
	color: rgb(0, 174, 255);
}

.apps div {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.apps div img {
	width: 7rem;
	cursor: pointer;
}

/* mobile ************ */

@media screen and (max-width: 730px) {
	/* header */
	header {
		flex-wrap: wrap;
	}

	header nav {
		order: 3;
		width: 100%;
		text-align: center;
	}

	/* footer */
	footer {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
	}
	footer > div:first-child p {
		text-align: center;
	}
	footer > div:first-child {
		width: 100%;
	}
	footer nav {
		justify-content: center;
	}

	.apps div {
		flex-direction: row;
	}
}
